body {
    color:lawngreen;
    background-color: black;
    font-family:Orbitron;
    user-select: none;
    height: 100vh; width: 100vw; 
    box-sizing:border-box;
}

h1 {
    text-align: center;
    font-size: 60px;
}

#blinkingHeader {
    animation:blinkingHeaderText 0.2s infinite;
}
@keyframes blinkingHeaderText{
    0%{     color:yellow;    }
    100%{   color:lawngreen;    }

}

.gameBoard {
    margin: 10%;
    height:60%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    transition: color 0.25s;
    -webkit-box-shadow: 0px 0px 100px 20px rgba(251,255,3,1);
    -moz-box-shadow: 0px 0px 100px 20px rgba(251,255,3,1);
    box-shadow: 0px 0px 100px 20px rgba(251,255,3,1);
}


.gameRow {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0px;
    height:30%;
}

.gamebutton {
    flex-grow:1;
    margin:20px;
    border-radius:10px;
    font-size:80px;
    color:lawngreen;
    background: lightslategray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    box-shadow: 6px 6px 5px lawngreen;
    position: relative;
    width:30%;
}

   


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li {
    float: left;
}

li a {
  display: block;
    color:lawngreen;
    position: relative;
    left: 380px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Orbitron;
    
}
 

 